<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BREAD(Browser,Read,Add,Delete)</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>

<body>
    <div class="container">
        <h1>
            BREAD ( Browse, Read, Edit, Add, Delete )
        </h1>
        <h2>Filter</h2>
        <form id="form-search">
            <div class="row mb-3">
                <label for="id" class="col-sm-3 col-form-label">
                    <input type="checkbox" id="checkboxId" name="checkboxId">
                    ID
                </label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="id" name="id" placeholder="ID">
                </div>
            </div>
            <div class="row mb-3">
                <label for="string" class="col-sm-3 col-form-label">
                    <input type="checkbox" id="checkboxString" name="checkboxString">
                    String
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="string" name="string" placeholder="String">
                </div>
            </div>
            <div class="row mb-3">
                <label for="integer" class="col-sm-3 col-form-label">
                    <input type="checkbox" id="checkboxInteger" name="checkboxInteger">
                    Integer
                </label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="integer" name="integer" placeholder="Integer">
                </div>
            </div>
            <div class="row mb-3">
                <label for="float" class="col-sm-3 col-form-label">
                    <input type="checkbox" id="checkboxFloat" name="checkboxFloat">
                    Float
                </label>
                <div class="col-sm-9">
                    <input type="number" step="any" class="form-control" id="float" name="float" placeholder="Float">
                </div>
            </div>
            <div class="row mb-3">
                <label for="date" class="col-sm-3 col-form-label">
                    <input type="checkbox" id="checkboxDate" name="checkboxDate">
                    Date
                </label>
                <div class="col-sm-9">
                    <input class="form-control" placeholder="startdate" name="startdate" type="text"
                        onfocus="(this.type='date')" onblur="(this.type='text')" id="startdate" />
                    to
                    <input class="form-control" placeholder="enddate" name="enddate" type="text"
                        onfocus="(this.type='date')" onblur="(this.type='text')" id="enddate" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="boolean" class="col-sm-3 col-form-label">
                    <input type="checkbox" id="checkboxBoolean" name="checkboxBoolean">
                    Boolean
                </label>
                <div class="col-sm-9">
                    <select class="form-control" name="boolean" id="boolean">
                        <option value="">Choose the boolean...</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="button" class="btn btn-primary" onclick="resetList()">Reset</button>
        </form>
    </div>
    <br>
    <table class="table table-striped">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="card-footer">
        <nav id="pagination" aria-label="Page navigation example">
        </nav>

        <!-- form add -->

        <form id="form-add">
            <h1>Add Data</h1>
            <div class="container">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="astring">String</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="astring" name="String" placeholder="String">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="ainteger">Integer</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" id="ainteger" name="Integer" step="any"
                            placeholder="Integer">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="afloat">Float</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" id="afloat" name="Float" step="any"
                            placeholder="Float">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="adate">Date</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" id="adate" name="Date" placeholder="end date">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="aboolean">Boolean</label>
                    <div class="col-sm-10">
                        <select class="form-control" style="background-color: white;" id="aboolean" name="Boolean">
                            <option value="">Choose the boolean...</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <!-- form edit -->

        <form id="edit-form">
            <br>
            <div class="row mb-3">
                <h1>Edit Data</h1>
            </div>
            <div class="row mb-3" hidden>
                <label for="idEdit" class="col-sm-4 col-form-label">ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="idEdit" name="id" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label for="eid" class="col-sm-4 col-form-label">ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="eid" name="id" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label for="estring" class="col-sm-4 col-form-label">String</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="estring" name="String">
                </div>
            </div>
            <div class="row mb-3">
                <label for="einteger" class="col-sm-4 col-form-label">Integer</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="einteger" name="Integer">
                </div>
            </div>
            <div class="row mb-3">
                <label for="efloat" class="col-sm-4 col-form-label">Float</label>
                <div class="col-sm-8">
                    <input type="number" step="any" class="form-control" id="efloat" name="Float">
                </div>
            </div>
            <div class="row mb-3">
                <label for="edate" class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="edate" name="Date">
                </div>
            </div>
            <div class="row mb-3">
                <label for="eboolean" class="col-sm-4 col-form-label">Boolean</label>
                <div class="col-sm-8">
                    <select class="form-select" id="eboolean" name="Boolean">
                        <option>Choose the boolean</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Edit Data</button>
        </form>

    </div>
    </div>
    </div>
    <script>
        let params = {
            page: 1,
        }

        $(document).ready(function () {
            sort('_id', 'asc')

            $('#form-search').submit(function (event) {
                event.preventDefault()
                searchData()
            })

            $('#form-add').submit(function (event) {
                event.preventDefault()
                addData()
            })

            $(document).on("click", ".delete-user", function () {
                const id = $(this).data("id");
                deleteUser(id);
            })
        })

        const loadData = () => {
            $.ajax({
                url: '/users',
                data: params,
                dataType: 'json'
            }).done(function (data) {
                let html = ''
                data.users.forEach((user, index) => {
                    html += `
                    <tr>
                    <td>${index + 1 + data.offset}</td>
                    <td>${user.string}</td>
                    <td>${user.integer}</td>
                    <td>${user.float}</td>
                    <td>${moment(user.date).format('MM-DD-YYYY')}</td>
                    <td>${user.boolean}</td>
                    <td>
                        <button class="btn btn-success" type="button">Edit</button>
                        <button class="btn btn-danger delete-user" type="button" data-id="${user._id}">Delete</button>

                    </td>
                </tr>
                `
                });
                $('table tbody').html(html)
                params = { ...params, pages: data.page, pages: data.pages }
                generatePagination(params)
            })
        }


        const generatePagination = ({ page, pages }) => {
            let html = ` <ul class="pagination">`

            if (page > 1)
                html += `
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0)" onClick="changePage(${page - 1})" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>
                    `

            for (let i = 1; i <= pages; i++) {
                html += `<li class="page-item${page == i ? ' active' : ''}"><a class="page-link" href="javascript:void(0)" onClick="changePage(${i})">${i}</a></li>`
            }

            if (page < pages)
                html += ` <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" onClick="changePage(${page + 1})" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                `

            html += `</ul>`

            $('#pagination').html(html)
        }

        const changePage = page => {
            params = { ...params, page }
            loadData()
        }

        const searchData = () => {
            const id = $('#id').val()
            const string = $('#string').val()
            const integer = $('#integer').val()
            const float = $('#float').val()
            const stardate = $('#stardate').val()
            const enddate = $('#enddate').val()
            const boolean = $('#boolean').val()
            params = { ...params, id, string, integer, float, stardate, enddate, boolean }
            loadData()
        }

        const resetList = () => {
            params = {
                page: 1
            }
            sort('_id', 'asc')
            $('#form-search').trigger("reset")
        }

        const sort = (sortBy, sortMode) => {
            let html = ` <tr>
                    <th>No</th>
                    <th>String <i class="fa-solid fa-sort${sortBy == 'string' ? sortMode == 'asc' ? '-up' : '-down' : ''}" onClick="sort('string','${sortMode == 'asc' ? 'desc' : 'asc'}')"></i></th>
                    <th>Integer <i class="fa-solid fa-sort${sortBy == 'integer' ? sortMode == 'asc' ? '-up' : '-down' : ''}" onClick="sort('integer','${sortMode == 'asc' ? 'desc' : 'asc'}')"></i></th>
                    <th>Float <i class="fa-solid fa-sort${sortBy == 'float' ? sortMode == 'asc' ? '-up' : '-down' : ''}" onClick="sort('float','${sortMode == 'asc' ? 'desc' : 'asc'}')"></i></th>
                    <th>Date <i class="fa-solid fa-sort${sortBy == 'date' ? sortMode == 'asc' ? '-up' : '-down' : ''}" onClick="sort('date','${sortMode == 'asc' ? 'desc' : 'asc'}')"></i></th>
                    <th>Boolean <i class="fa-solid fa-sort${sortBy == 'boolean' ? sortMode == 'asc' ? '-up' : '-down' : ''}" onClick="sort('boolean','${sortMode == 'asc' ? 'desc' : 'asc'}')"></i></th>
                    <th>Actions</th>
                </tr> `
            $('table thead').html(html)
            params = { ...params, sortBy, sortMode }
            loadData()
        }

        const addData = () => {
            const id = $("#id").val()
            const string = $("#astring").val()
            const integer = $("#ainteger").val()
            const float = $("#afloat").val()
            const date = $("#adate").val()
            const boolean = $("#aboolean").val()

            $.ajax({
                method: "POST",
                url: '/users',
                data: { id, string, integer, float, date, boolean },
                dataType: 'json'
            }).done(function (data) {
                loadData()
                $("#id").val('')
                $("#astring").val('')
                $("#ainteger").val('')
                $("#afloat").val('')
                $("#adate").val('')
                $("#aboolean").val('')
            })
        }

        const deleteUser = (id) => {
            $.ajax({
                url: `/users/${id}`,
                method: "DELETE",
                success: function (data) {
                    loadData();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };



    </script>
</body>

</html>